<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="app" source="spring.application.name" defaultValue="app"/>
    <springProperty name="profile" source="spring.profiles.active" defaultValue="dev"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeMdcKeyName>X-B3-TraceId</includeMdcKeyName>
            <includeMdcKeyName>X-B3-SpanId</includeMdcKeyName>
            <customFields>{"service":"${app}","profile":"${profile}"}</customFields>
        </encoder>
    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${app}","profile":"${profile}","type":"security_audit"}</customFields>
        </encoder>
    </appender>

    <logger name="SECURITY_AUDIT" level="INFO" additivity="false">
        <appender-ref ref="AUDIT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
